annotated-types==0.7.0
anyio==4.9.0
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
curl_cffi==0.7.4
fastapi==0.115.12
h11==0.16.0
httptools==0.6.4
idna==3.10
joblib==1.4.2
loguru==0.7.3
numpy==2.2.5
pandas==2.2.3
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
python-dateutil==2.9.0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
starlette==0.46.2
threadpoolctl==3.6.0
truthbrush @ git+https://github.com/stanfordio/truthbrush.git@25f75b3187773420ca0ee28a0a1b8d24c4955326
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
uvloop==0.21.0
vaderSentiment==3.3.2
watchfiles==1.0.5
websockets==15.0.1
