#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.sidebar {
  float: left;
  width: 25%;
  /* border-style: solid; */
  /* border-color: red; */
}
.truth {
  overflow-y: scroll;
  height: 60vh;
  border-style: solid;
  border-color: #1515bf;
  border-radius: 20px;
  float: right;
  width: 70%;
}
.navbar {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.loading {
  max-width: fit-content;
  margin: auto;
  margin-top: 20%;
}
.cards {
  width: fit-content;
  max-width: 75%;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.profile {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
